footer {
  margin-top: 60px;
  background-color: $text-color;
  color: $body-bg;
  padding: 15px 0;

  p {
    margin-bottom: 0;
  }

  a {
    color: $body-bg;

    &:hover,
    &:active,
    &:focus {
      color: darken($body-bg, 15%);
    }
  }
}
